@charset "utf-8";

*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

html,
body{
    height: 100%;
    background-color: #fff;
}

section{
    padding: 100px;
}



/* MENU CSS*/
.menu{
    width: 100%;
    position: fixed;
    z-index: 99;
    padding: 10px;
    
}

.black{
    background-color: rgba(0, 0, 0, 0.3); /*Set the opacity of navbar to 0.3 wehn page is scrolled down*/
    transition: 0.5s ease-out;
}

#puppy-hour-logo{
    width: 60px;
    height: 60px;
    position: absolute;

    margin-top: 5px;
    margin-left: 35px;
}

#logo-text{
    font-family: Nunito, sans-serif;
    font-weight: bold;
    color: #fff;
    position: absolute;
    margin-top: 20px;
    margin-left: 120px;
    cursor: default;
}

.menu li{
    padding: 20px;
}

.menu li a{
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    color: #fff;
    text-decoration: none;
}


#menu-contato{
    background-color: #0AD2F1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-out;
}

#menu-contato:hover{
    transition-timing-function: ease-out;
    background-color: rgb(12, 172, 197);
}





/* COVER CSS */
.background-cover{
    width: 100%;
    height: 100%;
    background-image: url("../img/puppy-hour-cover.jpg");
    background-position: center;
    background-size: cover;
}

.cover-info{
    width: 45%;
    height: 100%;
    background-color: rgba(10, 210, 241, 0.4);
    padding: 20px;
    padding-left: 50px;
}

.cover-info h1{
    font-family: Nunito, sans-serif;
    font-size: 60pt;
    font-weight: bolder;
    color: #fff;
    cursor: default;

    margin-top: 300px;
}

.cover-divider{
    width: 10%;
    height: 15px;
    background-color: #fff;
    margin-bottom: 100px;
}

.cover-info p{
    font-family: Nunito, sans-serif;
    font-size: 15pt;
    font-weight: lighter;
    color: #fff;
}

#btn-cadastramento{
    font-family: Nunito, sans-serif;
    font-weight: bold;
    color: #0AD2F1;

    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;

    transition: 0.2s ease-out;
}

#btn-cadastramento:hover{
    transition-timing-function: ease-out;
    padding-left: 60px;
    padding-right: 60px;
}

#dog-img-cover{
    width: 30%;
    margin: 0 35%;
    position: absolute;
    margin-top: -372px;
}




/*SOBRE NÓS*/
.about-us{
    background-color: #fff;
}

.about-us h1{
    font-family: Nunito, sans-serif;
    font-weight: 800;
    color: #0AD2F1;
}

.about-us p{
    font-family: Nunito, sans-serif;
    font-size: 12pt;
    color: #B5B5B5;
    text-align: justify;

    margin-top: 50px;
}


#about-us-dog-img{
    width: 70%;
    margin: 0 15%;

    margin-top: -150px;
}

#btn-saiba-mais-sobre{
    width: 30%;
    font-family: Nunito, sansn-serif;
    font-weight: bold;
    border-radius: 30px;
    border: none;

    background-image: linear-gradient(to right, #0AD2F1, rgb(8, 163, 187));
    transition: 0.2s ease-out;
}

#btn-saiba-mais-sobre:hover{
    transition-timing-function: ease-out;
    width: 40%;
}




/*EVENT SECTION*/
.event-section{
    width: 100%;
    height: 250px;
    background: url("../img/event-section-cover.jpg");
    background-size: cover;
    background-position: center;


    margin-top: -100px;
}

.event-section-filter{
    width: 100%;
    height: 100%;
    background-color: rgba(10, 210, 241, 0.4);
    margin: 0;
    padding: 60px;
    padding-left: 80px;
}

.event-section h1{
    font-family: Nunito, sans-serif;
    font-weight: bolder;
    color: #fff;
}

.event-section p{
    font-family: Nunito, sans-serif;
    font-size: 15pt;
    color: #fff;
}

#divider{
    width: 2%;
    height: 150px;
    background-color: #fff;

    margin: 0 49%;
    margin-top: -10px;
    border-radius: 30px;
}

#btn-cadastramento-event{
    font-family: Nunito, sans-serif;
    font-weight: bold;
    color: #0AD2F1;
    width: 45%;

    border: none;
    border-radius: 30px;

    padding-left: 30px;
    padding-right: 30px;

    transition: 0.2s ease-out;
    margin-top: 10px;
}

#btn-cadastramento-event:hover{
    transition-timing-function: ease-out;
    width: 60%;
}

.event-section h3{
    font-family: Nunito, sans-serif;
    font-weight: bold;
    color: #fff;
}

.event-section p{
    margin: 0px;
}




/*SECTION DIVIDER*/
#section-divider{
    border-top: 1px dashed #0AD2F1;
}




/*SERVICES*/
.our-services{
    background-color: #fff;
}

.our-services h1{
    font-family: Nunito, sans-serif;
    font-weight: bold;
    color: #0AD2F1;
}

.our-services p{
    font-family: Nunito, sans-serif;
    font-size: 12pt;
    color: #B5B5B5;

    margin-top: 50px;
}

#help-contact{
    color: #0AD2F1;
}

#card{
    width: 100%;
    height: 150px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    transition: 0.2s ease-out;
}

#card:hover{
    transition-timing-function: ease-out;
    margin-top: -10px;
}

#card h3{
    font-family: Nunito, sans-serif;
    font-weight: bolder;
    color: #0AD2F1;

    margin-top: 25px;
}

#card p{
    font-family: Nunito, sans-serif;
    margin-top: 0px;
}


/*CARDS IMAGE*/
.card-one-img{
    width: 100%;
    height: 150px;
    background: url("../img/weekly-walk.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.card-two-img{
    width: 100%;
    height: 150px;
    background: url("../img/walk-training.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-three-img{
    width: 100%;
    height: 150px;
    background: url("../img/free-walk.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-four-img{
    width: 100%;
    height: 150px;
    background: url("../img/walk-pack.jpg");
    background-size: cover;
    background-position: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}






/*CONTACT*/
#contact-img{
    width: 100%;
    height: 100%;
    background: url("../img/dog-contact.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.contact h1{
    font-family: Nunito, sans-serif;
    font-weight: bold;
    color: #0AD2F1;
}

#btn-enviar-form{
    width: 30%;
    font-family: Nunito, sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 30px;

    background: linear-gradient(to right,  #0AD2F1, rgb(8, 163, 187));
    transition: 0.2s ease-out;
}

#btn-enviar-form:hover{
    transition-timing-function: ease-out;
    width: 40%;
}




/*FOOTER*/
.rodape{
    width: 100%;
    padding: 20px;
    background-color: #F5F5F5;
}

.rodape h6{
    font-family: Nunito, sans-serif;
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
}

.rodape p{
    font-family: Nunito, sans-serif;
    font-size: 10pt;
    text-align: center;
}